---
layout: default
---
{{ site.url }}
<br>
<div class="posts">
  {% for post in site.posts limit:5 %}
    <a href="{{ site.baseurl }}{{ post.url }}">
      <div class="post-cover" style="background-image: url('img/{{ post.image }}')">
        <article class="post">

          <h1>{{ post.title }}</h1>

          <div class="entry">
            <b>{{ post.description }}</b>
            <br> <br>
            {{ post.date | date: "%B %-d, %Y" }}
          </div>

          <div class="post-categories">
            {% for category in post.categories %}
              {% if forloop.last %}
                {{ category }}
              {% else %}
                {{ category }},
              {% endif %}
            {% endfor  %}
          </div>
        </article>
      </div>
    </a>
  {% endfor %}
</div>
<br>
