---
layout: default
---
<div class="posts">
  {% assign color = 0 %}
  {% for post in site.posts limit:10 %}
    {% if forloop.last %}
      <a id="last-post" href="{{ site.url }}{{ post.url }}">
    {% else %}
      <a href="{{ site.url }}{{ post.url }}">
    {% endif %}
      <div class="post-cover" style="background-image: url('img/{{post.image}}')">
        {% if color == 0 %}
          <article class="post blue">
        {% elsif color == 1 %}
          <article class="post yellow">
        {% elsif color == 2 %}
          <article class="post purple">
        {% elsif color == 3 %}
          <article class="post orange">
        {% else %}
          <article class="post green">
        {% endif %}
        {% assign color = color | plus:1 %}
        {% assign color = color | modulo:5 %}
          <div class="shade">
            <h1>{{ post.title }}</h1>
          
            <div class="entry">
              {% if post.rating %}
                {% assign r = post.rating %}
                {% for n in (1..r) %}
                  <img class="star stars" src="{{ site.baseurl }}/img/star.gif"></img>
                {% endfor %}
                {% assign mod = r | modulo:1 %}
                {% if mod == 0.5 %}
                  <img class="star-half stars" src="{{ site.baseurl }}/img/star-half.gif"></img>
                {% elsif mod == 0.25 %} 
                  <img class="star-quarter stars" src="{{ site.baseurl }}/img/star-quarter.gif"></img>
                {% elsif mod == 0.75 %}
                  <img class="star-three stars" src="{{ site.baseurl }}/img/star-3.gif"></img>
                {% endif %}
              {% endif %}
              <br><br>
              <b>{{ post.description }}</b>
              <br> <br>
              {{ post.date | date: "%B %-d, %Y" }}
            </div>

            <div class="post-categories">
              {% for category in post.categories %}
                {% if forloop.last %}
                  {{ category }}
                {% else %}
                  {{ category }},
                {% endif %}
              {% endfor  %}
            </div>
          </div>
        </article>
      </div>
    </a>
  {% endfor %}
  
  {% assign num = site.posts | size %}
  {% if num > count %}
  <div class="load">
    <a href="javascript:;" onclick="loadMore();"><i class="fa fa-angle-down" aria-hidden="true"></i> More Posts </a> 
  </div>
  {% endif %}
</div>
