---
layout: default
---
<h1> Recent Posts </h1>

<br>
<div class="posts">
  {% for post in paginator.posts %}
    <a href="{{ site.url }}{{ post.url }}">
      {% if paginator.previous_page %}
        <div class="post-cover" style="background-image: url('../img/{{ post.image }}')">
      {% else %}
        <div class="post-cover" style="background-image: url('img/{{post.image}}')">
      {% endif %}
        <article class="post">

          <h1>{{ post.title }}</h1>

          <div class="entry">
            <b>{{ post.description }}</b>
            <br> <br>
            {{ post.date | date: "%B %-d, %Y" }}
          </div>

          <div class="post-categories">
            {% for category in post.categories %}
              {% if forloop.last %}
                {{ category }}
              {% else %}
                {{ category }},
              {% endif %}
            {% endfor  %}
          </div>
        </article>
      </div>
    </a>
  {% endfor %}

  {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.url | replace: '//', '/' }}"><i class="glyphicon glyphicon-chevron-left"></i> Newer</a>
      {% else %}
        <!--<span style="color: #3d3d3d;"><i class="glyphicon glyphicon-chevron-left"></i> Prev</span>-->
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <span style="color: #3d3d3d;">{{ page }}</span>
        {% elsif page == 1 %}
          <a href="{{ paginator.previous_page_path | prepend: site.url | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.url | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.url | replace: '//', '/' }}">Older <i class="glyphicon glyphicon-chevron-right"></i></a>
      {% else %}
        <!--<span style="color: #3d3d3d;">Next <i class="glyphicon glyphicon-chevron-right"></i></span>-->
      {% endif %}
    </div>
  {% endif %}
</div>
<br>
