body {
  background-color: #FFF;
}

.container {
  text-align: auto;
}

header {
}

header img {
  margin-left: auto;
  margin-right: auto;
}


nav, .navbar {
  background-color: #000;
}

.navbar-nav {
  float: none;
}
