body {
}

.container {
  text-align: center;
}

header {
}

header img {
  margin-left: auto;
  margin-right: auto;
}


nav, .navbar {
  background-color: #fff;
}

@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}
