body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  text-align: center;
}

header {
}

header img {
  margin-left: auto;
  margin-right: auto;
}

nav {
  padding-top: 15px;
  font-size: 18px;
}

nav, .navbar {
  background-color: #fff;
}

.navbar a {
  color: #7d7d7d;
}

.navbar a:focus, .navbar a:hover, .navbar a:active {
  color: #25758F;
  text-decoration: none;
}

@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}
