<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include navbar-start.html %}
      <ul class="nav navbar-nav">
        <li>
          <a href="{{ site.baseurl }}/about">About</a>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Film Reviews</a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/telugu-films">Telugu</a></li>
            <li><a href="{{ site.baseurl }}/tamil-films">Tamil</a></li>
            <li><a href="{{ site.baseurl }}/malayalam-films">Malayalam</a></li>
            <li><a href="{{ site.baseurl }}/recommended-films">Recommended</a></li>
            <li><a href="{{ site.baseurl }}/genres/list">Genres</a></li>
            <li><a href="{{ site.baseurl }}/all-film-reviews">All</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Articles</a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/top-10">Top 10</a></li>
            <li><a href="{{ site.baseurl }}/upcoming-films">Upcoming Films</a></li>
            <li><a href="{{ site.baseurl }}/trends">Trends</a></li>
            <li><a href="{{ site.baseurl }}/all-articles">All</a></li>
          </ul>
        </li>
        <li class="dropdown last">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" autofocus>Stories</a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.url }}/story-series">Series</a></li>
            <li><a href="{{ site.url }}/all-stories">All</a></li>
          </ul>
        </li>
      </ul>
      {% include social-bar.html %}
    {% include navbar-end.html %}
    <div id="search" class="search" hidden>
      <input id="searchInput" type="text" placeholder="Search"/>
    </div> 
    {% include header.html %}
    <div id="main" role="main">
      {{ content }}
    </div>
    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
      {% include page-loader.js %}
      {% include search.js %}
      {% if page.layout == "post" %}
        {% include watch_video.js %}
      {% endif %}
    </script>
  </body>
</html>
