---
layout: default
---

<article class="post post-detail">
  <div class="entry">
    {{ content }}
	<p><b>Want to contribute to Manasulo Maatalu?</b> Share your ideas or writing with us at <a href="mailto:contact@manasulomaatalu.com">contact@manasulomaatalu.com</a>! <a href="{{ site.url }}/about/#submissions"> Learn more </a>
		<br><p>If you liked this article, please like us on our <a href="https://www.facebook.com/ManasuloMaatalu/" target="_blank">Facebook page</a> for future updates!</p>
	</p>
  </div>

  <div id="video-wrapper" onclick="closeVideo()">
	  <div id="video">
		  <iframe id="frame" src="" width="100%" height="300"></iframe>
	  </div>
  </div>

  <div class="share-page">
    {% include share.html %}
  </div>

  {% include disqus.html %}
</article>
<div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="80vw" data-numposts="5"></div>

<div class="tags block block-dark block-lg block-last">
	<div class="block-title">Tags</div>
	<br> 
	{% for tag in page.tags %}
		<a id="tag-{{ tag }}" class="tag" href="javascript:void(0);">{{ tag }}</a>{% if forloop.last == false %},{% endif %}
	{% endfor %}
</div>

{% for entry in site.data.authors %}
	{% if entry.id == page.author %}
		{% assign author = entry %}
	{% endif %}
{% endfor %}

{% assign maxRelated = 5 %}
{% assign minCommonTags = 3 %}
{% assign maxRelatedCounter = 0 %}
{% assign maxAuthorCounter = 0 %}
{% assign related_posts = "" | split:"," %}
{% assign author_posts = "" | split:"," %}
{% for temp_post in site.posts %} 
	{% if temp_post.url != page.url %}
		{% if temp_post.author ==  author.id and maxAuthorCounter < 5 %}
			{% assign author_posts = author_posts | push: temp_post %}
			{% assign maxAuthorCounter = maxAuthorCounter | plus: 1 %}
		{% endif %}
		{% assign sameTagCount = 0 %}
		{% assign commonTags = '' %}
		{% for tag in temp_post.tags %} 
			{% if page.tags contains tag %}
				{% assign sameTagCount = sameTagCount | plus: 1 %}
				{% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
				{% assign commonTags = commonTags | append: tagmarkup %}
			{% endif %}
		{% endfor %}
		{% if sameTagCount >= minCommonTags %}
			{% assign related_posts = related_posts | push: temp_post %}
			{% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
			{% if maxRelatedCounter >= maxRelated %}
				{% break %}
			{% endif %}
		{% endif %}
	{% endif %}
{% endfor %}
{% assign size = related_posts | size %}
{% if size > 0 %}
	<h2 class="category">Recommended</h2>
	<div class="posts">
		{% assign post_counter = 0 %}
		{% for post in related_posts %} 
			<a href="{{ site.url }}{{ post.url }}">
					<div class="post-cover" style="background-image: url('{{ site.url }}/img/{{post.image}}')">
						{% if post_counter == 0 %}
						<article class="post blue">
						{% elsif post_counter == 1 %}
						<article class="post yellow">
						{% elsif post_counter == 2 %}
						<article class="post purple">
						{% elsif post_counter == 3 %}
						<article class="post orange">
						{% else %}
						<article class="post green">
						{% endif %}
						{% assign post_counter = post_counter | plus: 1 %}
						<div class="shade">
							<h1>{{ post.title }}</h1>
						
							<div class="entry">
								{% if post.rating %}
									{% assign r = post.rating %}
									{% for n in (1..r) %}
										<img class="star stars" src="{{ site.url }}/img/star.gif"></img>
									{% endfor %}
									{% assign mod = r | modulo:1 %}
									{% if mod == 0.5 %}
										<img class="star-half stars" src="{{ site.url }}/img/star-half.gif"></img>
									{% elsif mod == 0.25 %} 
										<img class="star-quarter stars" src="{{ site.url }}/img/star-quarter.gif"></img>
									{% elsif mod == 0.75 %}
										<img class="star-three stars" src="{{ site.url }}/img/star-3.gif"></img>
									{% endif %}
									<br><br>
								{% endif %}
								<b>{{ post.description }}</b>
								<br> <br>
								{{ post.date | date: "%B %-d, %Y" }}
							</div>
							<div class="post-categories">
								{{ commonTags }}
							</div>
						</div>
					</article>
				</div>
			</a>
		{% endfor %}
	</div>
{% endif %}
{% assign size = author_posts | size %}
{% if size > 0 %}
	<h2 class="category">More From {{ author.name }}</h2>
	<div class="posts">
		{% assign post_counter = 0 %}
		{% for post in author_posts %} 
			<a href="{{ site.url }}{{ post.url }}">
					<div class="post-cover" style="background-image: url('{{ site.url }}/img/{{post.image}}')">
						{% if post_counter == 0 %}
						<article class="post blue">
						{% elsif post_counter == 1 %}
						<article class="post yellow">
						{% elsif post_counter == 2 %}
						<article class="post purple">
						{% elsif post_counter == 3 %}
						<article class="post orange">
						{% else %}
						<article class="post green">
						{% endif %}
						{% assign post_counter = post_counter | plus: 1 %}
						<div class="shade">
							<h1>{{ post.title }}</h1>
						
							<div class="entry">
								{% if post.rating %}
									{% assign r = post.rating %}
									{% for n in (1..r) %}
										<img class="star stars" src="{{ site.url }}/img/star.gif"></img>
									{% endfor %}
									{% assign mod = r | modulo:1 %}
									{% if mod == 0.5 %}
										<img class="star-half stars" src="{{ site.url }}/img/star-half.gif"></img>
									{% elsif mod == 0.25 %} 
										<img class="star-quarter stars" src="{{ site.url }}/img/star-quarter.gif"></img>
									{% elsif mod == 0.75 %}
										<img class="star-three stars" src="{{ site.url }}/img/star-3.gif"></img>
									{% endif %}
									<br><br>
								{% endif %}
								<b>{{ post.description }}</b>
								<br> <br>
								{{ post.date | date: "%B %-d, %Y" }}
							</div>
						</div>
					</article>
				</div>
			</a>
		{% endfor %}
	</div>
{% endif %}